/* HTML Elements */

body {
    background: hsl(0, 0%, 98%);
    color: hsl(234, 12%, 34%);
    font-family: "Poppins", serif;
    font-size: 15px;
    text-align: center;
    width: 84%;
    margin: 6rem auto 0;
}

h2 {
    margin: 0;
}

p {
    color: hsl(229, 6%, 66%);
}

a {
    color: hsl(228, 45%, 44%);
}

/* Title Section */

#title-section {
    font-size: 1rem;
    margin: 2rem auto 5rem auto;
}

.title-one {
    font-weight: 200;
}

.title-desc {
    text-align: center;
}

/* Card Section */

#card-section {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(autofit, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 5rem;
}

.card {
    background-color: white;
    border-radius: 4px 4px 8px 8px;
    text-align: left;
    padding: 2rem;
    /* box-shadow: 2px 2px 4px; */
    box-shadow: 0 8px 16px 0 hsla(212, 86%, 64%, 0.2);
}

.card-title {
    margin: 0;
}

.card-desc {
    font-weight: 200;
    height: 4rem;
}

.card-img {
    margin-left: auto;
    float: right;
}

.supervisor-card {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.team-builder-card {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.karma-card {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator-card {
    border-top: 4px solid hsl(212, 86%, 64%);
}

@media (min-width: 1440px) {

    /* HTML Elements */
    body {
        width: 78%;
    }

    h2 {
        font-size: 2.3rem;
    }

    /* Title Section */

    #title-section {
        width: 32rem;
        margin-bottom: 4rem;
    }

    .title-desc {
        text-align: center;
    }

    /* Card Section */

    #card-section {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .supervisor-card {
        grid-column: span 2;
        grid-row: 2 / span 2;
    }

    .team-builder-card {
        grid-column: 3 / span 2;
        grid-row: span 2;
    }

    .karma-card {
        grid-column: 3 / span 2;
        grid-row: 3 / span 2;
    }

    .calculator-card {
        grid-column: 5 / span 2;
        grid-row: 2 / span 2;
    }
}